<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <h1 class="row justify-content-center"><%= t('.header')%></h1>
    <div class="card border-primary mt-3">
      <table>
        <head>
          <tr class= "container text-center">
            <th>Question</th>
            <th>Gist URL</th>
            <th>Users email</th>
          </tr>
        </head>

        <body>
          <%= render @gists %>
        </body>
      </table>
    </div>
    <%= link_to t('.back'), admin_test_path %>
  </div>
</div>
