<h1>Test complited</h1>
<h4>Overall number questions: <%= @test_passage.test.questions.count %></h4>
<p>You progress is :</p>
<strong class="<%= detect_class_for_color(@test_passage) %>">
  <%=@test_passage.progress %> %
</strong><br>

<%= link_to 'Back to tests', tests_path %>
