<p>
  <%= Time.now.year %>
  <%= "Kakhorov Aziz" %>
</p>
<p>
  <%= link_to "TestGuru",
              "https://github.com/Azmandius21/TestGuru",
              target: "_blank" %>
</p>
<p> Это приложение для создания , редактирования и проходения
  онлайн тестов на знание различных Frontend, Backend языков програмирования.
  <%= link_to "Учебный проект в онлайн-школе Thinknetica",
              "http://thinknetica.com/",
              target: "_blank" %>
</p>
