<p>Author:
  <%= github_url("Kakhorov Aziz", "https://github.com/Azmandius21/TestGuru") %>
</p>
<p>
  <%= current_year %>
</p>
<p> Это приложение для создания , редактирования и проходения
  онлайн тестов на знание различных Frontend, Backend языков програмирования.
  <%= link_to "Учебный проект в онлайн-школе Thinknetica",
              "http://thinknetica.com/",
              target: "_blank" %>
</p>
