<div class="navigation">
  <strong>
    <ul>
      <li><%= link_to 'Test Guru', tests_path %></li>
      <li><%= link_to 'Signup', signup_path %></li>
      <li><%= link_to 'Login', login_path %></li>
      <li><%= link_to 'Exit', logout_path, method: :delete %></li>
    </ul>
  </strong>
</div>
