<nav>
  <div class="nav_title">
    <%= link_to 'Test Guru', tests_path %>
  </div>

  <div class="nav_list">
    <ul>
      <li><%= link_to t('.signup'), new_user_registration_path %></li>
      <li><%= link_to t('.login'), new_user_session_path %></li>
      <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>
