<nav>
  <div class="nav_title">
    <%= link_to 'Test Guru', admin_tests_path %>
  </div>

  <div class="nav_list">
    <ul>
      <li><%= link_to 'Signup', new_user_registration_path %></li>
      <li><%= link_to 'Login', new_user_session_path %></li>
      <li><%= link_to 'Exit', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>
